{% extends "layouts.html.twig" %}

{% block main %}
    <h1 class="lead">Nouvel utilisateur</h1>
    <div class="row">
        <div class="col-12">
            <div class="my-3">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}