<div class="card">
    {% if user.confirm == false %}
        <div class="card-header">
            <h6 class="card-title mb-0">Vérifier mon adresse e-mail</h6>
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-success">Vérifier mon adresse e-mail</button>
        </div>
    {% else %}
        <div class="card-header">
            <h6 class="card-title mb-0">Modifier mon adresse e-mail</h6>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    {% endif %}
</div> 