{% extends 'emails/layout.html.twig' %}

{% block body %}
    {% set user = token.user %}
    <tr style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-block" style="font-family: 'Roboto', sans-serif; color: #878a99; line-height: 1.5; box-sizing: border-box; font-size: 15px; vertical-align: top; margin: 0; padding: 0 0 24px; text-align: center;" valign="top">
            <p>Bonjour {{ user.firstname ?? ('@' ~ user.username) }}, </p> 
            <p>Votre compte n'est pas encore activé! Pour activer votre compte, cliquer sur le lien suivant : </p>
        </td>
    </tr>
    <tr style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 24px; text-align: center;" valign="top">
            <a 
                href="{{ absolute_url(path('app_account_verify_email', {token: token.token})) }}" 
                itemprop="url" 
                style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: .8125rem;font-weight: 400; color: #FFF; text-decoration: none;text-align: center; cursor: pointer; display: inline-block; border-radius: .25rem; text-transform: capitalize; background-color: #3bad71; margin: 0; border-color: #3bad71; border-style: solid; border-width: 1px; padding: .5rem .9rem;box-shadow: 0 3px 3px rgba(56,65,74,0.1);" 
                onMouseOver="this.style.background='#099885'" 
                onMouseOut="this.style.background='#3bad71'"
            >J'active mon compte</a>
        </td>
    </tr>
    <tr style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 24px; text-align: center;" valign="top">
            <p>Ou cliquez sur le lien suivant :</p>
            <a 
                href="{{ absolute_url(path('app_account_verify_email', {token: token.token})) }}" 
                itemprop="url"  
            >{{ absolute_url(path('app_account_verify_email', {token: token.token})) }}</a>
        </td>
    </tr>
    <tr style="font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; border-top: 1px solid #e9ebec;">
        <td class="content-block" style="color: #878a99; text-align: center;font-family: 'Roboto', sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0; padding-top: 15px" valign="top">
            Si vous avez reçu ce mail par erreur, supprimez-le simplement. Vous ne serez pas inscrit si vous ne cliquez pas sur le lien de confirmation au-dessus.
        </td>
    </tr>
{% endblock %}