{% extends 'auth.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">
                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h1 class="text-primary h5">Réinitialiser votre mot de passe</h1>
                    </div>
                    <div class="mt-3 p-2 text-danger">
                        <h2 class="lead h3">Oups !</h2>
                        <p>Il semble que ce lien est invalide. Cliquer sur le lien ci-dessous pour reçevoir un lien valide.</p>
                    </div>
                    <div class="border"></div>
                    <div class="mt-4 text-center">
                        <p class="mb-0">
                            <a href="{{ path('app_forgot_password_index') }}" class="fw-semibold text-primary text-decoration-underline"> 
                                Renvoyer un e-mail.
                            </a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
